name: Scorecard

on:
  branch_protection_rule:
  schedule:
    - cron: "0 3 * * 6"
  push:
    branches: ["main"]

permissions: read-all

jobs:
  analysis:
    runs-on: ubuntu-latest
    if: github.event.repository.private == false
    permissions:
      security-events: write
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run Scorecard
        uses: ossf/scorecard-action@v2.3.1
        with:
          results_file: scorecard.sarif
          results_format: sarif
          publish_results: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: scorecard.sarif
      - name: Archive results
        uses: actions/upload-artifact@v4
        with:
          name: scorecard-results
          path: scorecard.sarif
